<h1>sign up</h1>
<%= form_with model: @user, url: signup_path do |form| %>
<div class="mb-3">
<%= form.label :First_Name %>
  <%= form.text_field :first_Name, class: "form-control"  %>
</div>
<div class="mb-3">
<%= form.label :Last_Name %>
  <%= form.text_field :last_name, class: "form-control" %>
  </div>
<div class="mb-3"> 
<%= form.label :Email %>
  <%= form.email_field :email, class: "form-control" %>
</div>
<div class="mb-3">  
<%= form.label :Phone_no %>
  <%= form.telephone_field :phone_number, class: "form-control" %>
</div>
<div class="mb-3">
<%= form.label :Password %>
  <%= form.password_field :password, class: "form-control" %>
</div>
<div class="mb-3">
<%= form.label :Password_confirmation %>
  <%= form.password_field :password_confirmation, class: "form-control" %>
</div>
<div class="mb-3"> 
<%= form.label :Country %> 
<%= f.input :my_attribute, collection: countries_alpha2_options %>
</div>  
<div class="mb-3">
  <%= form.submit %>
</div>
<% end %>