<h1>listing users</h1>
<div>
  <%= form_with url: admin_users_path, method: :get, local: true do |form| %>
  <%= form.label :Search, "Search for:" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
  <% end %>
</div>
<%= link_to 'New User', new_admin_user_path %>
<table>
  <thead>
    <tr>
      <th> User Id &nbsp;</th>   
      <th> First Name &nbsp;</th>
      <th> Last Name &nbsp;</th>
      <th> Email &nbsp;</th>
      <th> Phone Number &nbsp;</th>
      <th> Country &nbsp;</th>      
      <th colspan="3"> Actions </th>      


    </tr>
  </thead>
  <tbody>
    <%@users.find_each do |user|%>
     <tr>
      <td> <%= user.id %>  </td>
      <td> <%= user.first_name_with_admin %> </td>
      <td> <%= user.last_name%>  </td>
      <td> <%= user.email%>  </td>
      <td> <%= user.phone_number%> &nbsp;  </td>
      <td> <%= user.country%>  </td>

      <% unless user.admin? || user.super_admin? %>
        <td> <%= link_to 'View', admin_user_path(user) %>  </td> 
        <td> <%= link_to 'Edit', edit_admin_user_path(user) %>  </td>
        <td> <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: "Are You Sure?"} %>  </td>
      <% end %>
    </tr>
    <%end%>
  </tbody>
</table>
    <%=paginate @users %>