<h1>listing users</h1>
<div>
  <%= form_with url: admin_users_path, method: :get, local: true do |form| %>
  <%= form.label :Search, "Search for:" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
  <% end %>
</div>
<%= link_to 'New User', new_admin_user_path %>
<table>
  <thead>
    <tr>
      <th> <%= link_to "User Id", :sort=> "id"%> &nbsp;</th>   
      <th> <%= link_to "First Name", :sort=> "first_name"%> &nbsp;</th>   
      <th> <%= link_to "Last Name", :sort=> "last_name"%> &nbsp;</th>  
      <th> <%= link_to "Email", :sort=> "email"%> &nbsp;</th>
      <th> <%= link_to "Phone Number", :sort=> "phone_number"%> &nbsp;</th>
      <th> <%= link_to "Country", :sort=> "country"%> &nbsp;</th>
      <th colspan="3"> Actions </th>      


    </tr>
  </thead>
  <tbody>
    <%@users.each do |user|%>
     <tr>
      <td> <%= user.id %>  </td>
      <td> <%= user.first_name %> </td>
      <td> <%= user.last_name%>  </td>
      <td> <%= user.email%>  </td>
      <td> <%= user.phone_number%> &nbsp;  </td>
      <td> <%= user.country%>  </td>

      <% unless user.admin? || user.super_admin? %>
        <td> <%= link_to 'View', admin_user_path(user) %>  </td> 
        <td> <%= link_to 'Edit', edit_admin_user_path(user) %>  </td>
        <td> <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: "Are You Sure?"} %>  </td>
      <% end %>
    </tr>
    <%end%>
    <p>
  Download:
  <%= link_to "CSV", admin_users_path(format: "csv") %> 
</p>
  </tbody>
</table>
    <%= paginate @users %> 